{{define "page"}}
<html>

  <body>
    <h1>Title</h1>
    <a href="b/README.md#Title">subdir direct</a>
    <a href="/a/b/README.md#Title">subdir absolute</a>
    <a href="../a/b/README.md#Title">subdir redundancies</a>
    <a href="md.md#Title">sibling</a>
  </body>

</html>
{{end}}