:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  scroll-margin-top: 20px;
}

html {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: light-dark(#444, #aaa);
  background-color: light-dark(#fff, #171717);
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

body {
  width: 100vw;

  @media screen and (width<=800px) {
    & > main {
      padding-bottom: 50vh;
    }
  }

  & > header > #logotype {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    & > span {
      margin-top: 2px;
    }
  }

  @media screen and (800px<width) and (width<1400px) {
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: left;
    align-items: start;
    gap: 20px;

    & > header {
      grid-column: 1 / 3;
    }

    & > #navs {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 0 20px 20px;

      height: 100%;
      position: relative;

      & > #toc {
        position: sticky;
        top: 0;
      }
    }

    & > main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      overflow-x: hidden;
      padding-bottom: 50vh;
      padding-right: 20px;
    }
  }

  @media screen and (1400px<=width) {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    justify-content: space-between;
    align-items: start;
    gap: 0 20px;

    position: relative;

    & > header {
      grid-column: 1 / 4;
    }

    & > #navs {
      display: contents;

      & > nav#sitemap {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        top: 0;
        position: sticky;
        padding: 20px 0 20px 20px;
      }

      & > nav#toc {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        top: 0;
        position: sticky;
        padding: 20px 20px 20px 0;
      }
    }

    & > main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
      width: 100%;
      overflow: hidden;
      padding: 20px 0 50vh;
    }
  }
}
