body {
  position: relative;
}

.markdown {
  @media screen and (width<=800px) {
    padding-top: 50px;
  }

  p:not(:has(img, pre, table, ul, ol)),
  ul,
  ol,
  blockquote {
    max-width: 640px;
  }

  @media screen and (width<=800px) {
    > *:not(:has(pre, table, ul, ol)) {
      padding: 0 20px;
    }
  }

  strong {
    font-weight: 600;
  }

  *:not(pre) > code {
    font-family: "Fira Code", monospace !important;
  }

  h1 {
    --significance: 4;
  }

  h2 {
    --significance: 3;
  }

  h3 {
    --significance: 2;
  }

  h4,
  h5,
  h6 {
    --significance: 1;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-size: calc(1em + var(--significance) * 0.35em);
    line-height: normal;
    font-weight: 500;

    margin: calc(var(--significance) * 10px) 0;
  }

  & > *:first-child {
    margin-top: 0;
  }

  p {
    margin: 10px 0;
  }

  li,
  p {
    line-height: 2em;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    transition: 200ms color ease-out;
  }

  a:hover {
    color: light-dark(#000, #eee);
  }

  img {
    object-fit: scale-down;
    border-radius: 8px;
  }

  blockquote {
    padding: 10px 20px;
    color: light-dark(#6a4800, #de9e5f);
    background-color: light-dark(#fff8e9, #28231f);
    border-radius: 8px;

    code {
      color: light-dark(#885d00, #28231f);
      background-color: light-dark(#fbe4b4, #de9e5f);
      padding-inline: 3px;
      border-radius: 4px;
    }
  }

  hr {
    color: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid light-dark(#eee, #2a2e32);
    margin: 50px 0;
  }

  > ul,
  > ol {
    padding: 0 10px;
  }

  ul {
    counter-reset: li 0;

    position: relative;
    padding-left: 0px;

    display: block;

    li {
      display: list-item;

      text-align: match-parent;
      margin-left: 20px;
      list-style-position: inside;
    }
  }

  > ol {
    margin-bottom: 15px;
  }

  ol {
    counter-reset: li 0;
    list-style-type: none;

    position: relative;
    padding-left: 0px;

    display: block;

    padding-inline-start: 0;

    > li {
      display: list-item;
      list-style-type: none;
      text-align: match-parent;
      margin-top: 16px;
      margin-left: 40px;
    }

    > li > * {
      margin-top: 16px;
    }

    > li::before {
      display: inline;

      box-sizing: border-box;

      width: 1.6rem;
      height: 1.6rem;
      padding: 0.45rem 0 0.35rem 0;
      margin-top: 0.15rem;

      background-color: light-dark(black, #ddd);
      color: light-dark(white, black);

      position: absolute;
      left: 0px;

      border-radius: 100vh;

      font-size: 0.8rem;
      line-height: 0.8rem;
      font-weight: 600;
      text-align: center;

      content: counter(li);
      counter-increment: li 1;
    }
  }

  table {
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 0;

    @media screen and (max-width: 700px) {
      min-width: calc(100% - 40px);
    }

    @media screen and (min-width: 700px) {
      min-width: 100%;
    }

    th {
      text-align: left;
    }

    th,
    td {
      padding: 10px 20px 10px 0px;
    }

    thead {
      tr {
        position: sticky;
        top: 0;
        font-weight: bolder;

        th {
          background-color: light-dark(white, #171717);
          border-bottom: 2px solid light-dark(#eee, #555);
        }
      }
    }

    tbody tr:not(:last-child) td {
      border-bottom: 1px solid light-dark(#eee, #333);
    }
  }

  pre.chroma {
    padding: 20px 30px 20px 40px;

    user-select: initial;
    -webkit-user-select: initial;

    font-optical-sizing: auto;
    line-height: 1.24;
    font-size: 11pt;

    width: min(100%, max-content);
    overflow-x: scroll;

    counter-reset: line;

    color: light-dark(#444, #aaa);

    * {
      font-family: "Fira Code", monospace !important;
      font-weight: 400;
    }

    .nx {
      color: light-dark(#444, #aaa);
    }

    .s,
    .s1,
    .s2,
    .o,
    .nv,
    .kc {
      color: light-dark(#0550ae, #527aac);
    }

    .m,
    .kt {
      color: light-dark(#008775, #56908c);
    }

    .k,
    .kn,
    .kd {
      color: light-dark(#cf222e, #c96168);
    }

    .kr,
    .nf {
      color: light-dark(#8250df, #a286d6);
    }

    .nb {
      color: light-dark(#c44886, #db7eac);
    }

    .cm,
    .cp {
      color: light-dark(#6e7781, #78a7dd);
    }

    .c1 {
      color: light-dark(#6e7781, #7f858c);
    }
  }

  .line:before {
    display: inline-block;

    counter-increment: line;
    content: counter(line);

    width: 16px;

    color: light-dark(#888, #888);
    font-size: 12px;
    font-family: monospace;
    text-align: right;

    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;

    transform: translateX(-22px);
  }

  > figure {
    &:has(pre.chroma) {
      margin-block: 20px;

      display: flex;
      flex-direction: column-reverse;

      border: 1px solid light-dark(#eee, #2e2e2e);
      border-radius: 8px;

      & > figcaption {
        border-bottom: 1px solid light-dark(#eee, #2e2e2e);
        opacity: 0.5;
        padding: 10px 20px;
      }
      & > pre.chroma {
        padding: 20px 20px 20px 40px;
      }

      @media screen and (width<=800px) {
        margin-inline: 20px;
      }
    }
  }
}
