{{define "sitemap"}}
<ul>
  {{if ne .Href ""}}
  <a href="{{.Href}}">{{.Title}}</a>
  {{else}}
  <span>{{.Title}}</span>
  {{end}}
  {{with .Children}}{{range .}}{{template "sitemap" .}}{{end}}{{end}}
</ul>
{{end}}

{{define "markdown-page"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Node.Title}} — Kask</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/.assets/favicon@16w.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/.assets/favicon@32w.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/.assets/favicon@48w.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/.assets/favicon@64w.png">

    <link rel="apple-touch-icon" sizes="120x120" href="/.assets/touch-icon@120w.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/.assets/touch-icon@152w.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/.assets/touch-icon@180w.png">

    <link rel="icon" type="image/png" sizes="192x192" href="/.assets/touch-icon@192w.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/.assets/touch-icon@512w.png">

    <meta name="title" content="Kask - A website compiler">
    <meta name="description" content="A website compiler for creating multi-section custom websites by maintaining the content within folders of markdown files.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kask.pages.dev">
    <meta property="og:title" content="Kask - A website compiler">
    <meta property="og:description" content="A website compiler for creating multi-section custom websites by maintaining the content within folders of markdown files.">
    <meta property="og:image" content="https://kask.pages.dev/.assets/card-og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://kask.pages.dev">
    <meta name="twitter:title" content="Kask - A website compiler">
    <meta name="twitter:description" content="A website compiler for creating multi-section custom websites by maintaining the content within folders of markdown files.">
    <meta name="twitter:image" content="https://kask.pages.dev/.assets/card-twitter.png">

    {{range .Stylesheets}}
    <link rel="stylesheet" href="{{.}}">{{end}}
  </head>

  <body>
    <div id="markdown-page-column-layout">

      <header>
        <nav id="sitemap">
          <details open>
            <summary>Site map</summary>
            <div class="summarized">
              {{template "sitemap" .Root}}
            </div>
          </details>
        </nav>

        {{with .Markdown.Toc}}
        <nav id="toc">
          <details open>
            <summary>In this page</summary>
            <div class="summarized">
              <ul>
                {{range .Children}}
                <li>
                  <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                  {{if gt (len .Children) 0}}
                  <ul>
                    {{range .Children}}
                    <li>
                      <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                      {{if gt (len .Children) 0}}
                      <ul>
                        {{range .Children}}
                        <li>
                          <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                        </li>{{end}}
                      </ul>{{end}}
                    </li>{{end}}
                  </ul>{{end}}
                </li>{{end}}
              </ul>
            </div>
          </details>
        </nav>{{end}}
      </header>

      <script>
        function onChange(eval, callback) {
          let last;
          return () => {
            let next = eval()
            if (last != next) {
              last = next
              callback()
            }
          }
        }
        function detailsElemStateAdjuster() {
          let elems = document.querySelectorAll("nav>details")
          let summaries = document.querySelectorAll("nav>details>summary")
          return () => {
            elems.forEach(e => {
              e.open = window.innerWidth >= 700
            })
            summaries.forEach(e => {
              e.style.display = window.innerWidth >= 700 ? "none" : "block"
              e.onclick = window.innerWidth >= 700 ? (e) => { e.preventDefault() } : undefined
            })
          }
        }
        let adjuster = detailsElemStateAdjuster()
        adjuster()
        window.addEventListener("resize", onChange(() => { return window.innerWidth >= 700 }, adjuster, 100))
      </script>

      <main class="markdown">
        {{.Markdown.Content}}
      </main>

    </div>
  </body>

</html>
{{end}}